@{
    ViewData["Title"] = "Quadrants";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Quadrants</h1>
            <p class="text-muted">Quadrant view will be wired up when models and data are ready.</p>
        </div>
    </div>
</div>
